.drinks
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.parentDrinkContainer {
    
    margin: 12px;
    /* border-radius: 7px; */
    /* padding: 13px 13px; */
    /* text-align: center; */
    width: 100%;
    border: none;
}
.parentDrinkContainer div h2{
    margin: 12px auto;
   
}
.parentDrinkContainer div button{
    width:100%;
   
}
.nav-item:hover
{
    color:grey;
}


.parentDrinkContainer div
{
    display: flex;
    flex-flow: column;
}
.parentDrinkContainer:nth-child(odd)
{
    background-color: rgb(206 206 206 / 23%);
    border-radius: 10px;
}

img
{
    border-radius: 5%;
}
 .nav
{
    border-bottom: .5px solid rgb(177, 177, 177);
} 
.pumpSet ul
{
   list-style: none;
}
.pumpSet ul li
{
    display: flex;
    justify-content: space-between;
}
.ingredients div
{
    display: flex;
    justify-content: space-between;
}

.ingredients div select
{
    width:200px;
}


@media only screen and (max-width: 600px) {
    .parentDrinkContainer div p
    {
        display:none;
    }
   .parentDrinkContainer {
    
    flex-flow: column;
   }
   .parentDrinkContainer img{
   
        max-width: 50%;
        height: auto;
       
        margin: 0 auto;
   }

}
  
  @media only screen and (max-width: 768px) {
  }