.drinks
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.parentDrinkContainer {
    
    margin: 12px;
    /* border-radius: 7px; */
    /* padding: 13px 13px; */
    /* text-align: center; */
    width: 100%;
}
.parentDrinkContainer div h2{
    margin: 12px auto;
   
}
.parentDrinkContainer div button{
    width:100%;
   
}

.parentDrinkContainer div
{
    display: flex;
    flex-flow: column;
}
.parentDrinkContainer:nth-child(odd)
{
    background-color: rgb(206 206 206 / 23%);
    border-radius: 10px;
}

img
{
    border-radius: 5%;
}
